<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WebArena 評価 - ブラウザエージェント</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="{{ request.url_for('static', path='css/style.css') }}" />
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.__WEBARENA_APP_PROPS__ = {{
        {
          'browserUrl': browser_url,
          'envUrls': env_urls,
          'supportedSites': supported_sites,
        }|tojson
      }};
    </script>
    <script type="module" src="{{ request.url_for('static', path='dist/webarena.js') }}"></script>
  </body>
</html>
